name = "MLSearch"
uuid = "da7f02ec-11a1-402c-9ec3-55ff2b2bfe75"
authors = ["Joergen Fagervik"]
version = "1.0.0-DEV"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
